<!-- <div class='header nav nav-bar'>
   <div> 
        <a href="/">Home</a>
    </div>
    <div>
        <a href="/">Products</a>
    </div>
    <div>
        <a href="/">Contact Us</a>
    </div>
</div> -->
<div class="container ">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link " href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
        
          </ul>
    
</div>
  
