.footer-cont {
    padding-top: 15px;
    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }
    .icon-prop{
        color: #ffffff;
    }
    .icon-cont{
        justify-content: flex-end;
    }
}
