<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 footer-cont">
            <img src="../assets/images/Screenshot_43.png" >
        </div>
        <div class="col-md-4 footer-cont">
            <p>Copyright protected by © Pooja.</p>
        </div>
        <div class="col-md-4 footer-cont">
            <div class="row icon-cont">
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-instagram fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-facebook-square fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-twitter-square fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>