<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 footer-cont">
            <a href="/" class="w-inline-block"><img
                    src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adad44d1f072965b6_logo.svg"
                    alt="Acme Outdoors Logo"></a>
        </div>
        <div class="col-md-4 footer-cont">
            <p>Copyright protected by © Pooja.</p>
        </div>
        <div class="col-md-4 footer-cont">
            <div class="row icon-cont">
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-instagram fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-facebook-square fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-2">
                    <a href="#"><i class="fa fa-twitter-square fa-2x icon-prop" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>