    <div class="card" style="height: 350px;">
        <div class="card-body">
            <h1 class="card-title contact-ico">
                <i class="fa fa-volume-control-phone fa-2x" aria-hidden="true"></i>
            </h1>
            <h2 class="card-subtitle mb-2 text-muted txt-contact">{{heading}}</h2>
            <p class="card-text card-txt-body">{{desc}}</p>
            <div class="row link-btn">
                <button type="button" class="btn btn-secondary btn-lg">{{link}}</button>
            </div>
        </div>
    </div>