<section>
    <div class="container-fluid first-sec">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <label class="head-cont">
                    <h1>Contact Acme Outdoors</h1>
                </label>
            </div>
        </div>
        <div class="row pd-bt-15 contact-cont">
            <div class="col-md-1">

            </div>
            <!-- <div class="col-md-3">
                <div class="card" style="height: 350px;">
                    <div class="card-body">
                        <h1 class="card-title contact-ico">
                            <i class="fa fa-volume-control-phone fa-2x" aria-hidden="true"></i>
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted txt-contact">Contact Us</h2>
                        <p class="card-text card-txt-body">Just want to say hi? We'd love to hear from you. We love our
                            customers and community!
                        </p>
                        <div class="row link-btn">
                            <button type="button" class="btn btn-secondary btn-lg">Send Us A Message</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3" *ngFor="let data of cardData">
                <app-card [heading]="data.heading" [desc]="data.desc" [link]="data.link"></app-card>
            </div>
            
            <!-- <div class="col-md-3">
                <div class="card" style="height: 350px;">
                    <div class="card-body">
                        <h1 class="card-title contact-ico">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        </h1>
                        <h2 class="card-subtitle mb-2 text-muted txt-contact">Get Support</h2>
                        <p class="card-text card-txt-body">Have an issue with an order or with a product you purchased
                            from us? Fill out our support form.
                        </p>
                        <div class="row link-btn">
                            <button type="button" class="btn btn-secondary btn-lg">Contact Support</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="img-cont">
                    <img class="cont-img" src="assets/images/contact-bcg.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Contact Us</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>