.menu-wrapper {
    position: sticky;
    top: 0px;
    z-index: 900;
    .menu-cont {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #eb5757;
    }
}
a {
    color: #ffff;
    &:hover{
        inline-size: fit-content ;
        color: #ffff !important;
        background-color: black; 
    }
}
.nav-pills .nav-link.active{
    color: #ffff !important;
    background-color: black;
    inline-size: fit-content 

}
