<div class="container-fluid">
    <div class="menu-wrapper">
        <div class="row menu-cont">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
                <a href="/"><img
                        src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adad44d1f072965b6_logo.svg"
                        alt="Acme Outdoors Logo">
                </a>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-5">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" data-toggle="pill"
                            routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" data-toggle="pill"
                            routerLink="/product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" data-toggle="pill"
                            routerLink="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>