.products {
    padding: 0 !important;
    margin-bottom: 66px;
}
.products-topic{
    background-color: black;
    height: 100px;
    color: #ffff;
    align-content: center;
    padding-left: 15px;
}
.list-group-item{    
    border:1px solid black !important;
    margin: 7px 0;
    &:hover{ 
        background-color: black;       
        color: #ffff;
        cursor: pointer;       
    }
}
.card {
    width:250px;
    margin: 2px 0;
}
.card img{
    height: 150px;
    // width: 100%;
}

// .carousel-item{
    
// }