.products {
    padding: 0 !important;
}
.products-topic{
    background-color: black;
    height: 100px;
    color: #ffff;
    align-content: center;
    padding-left: 15px;
}
.list-group-item{    
    border:1px solid black !important;
    margin: 7px 0;
    width: 45%;
}