div .carousel {
    // margin:10% 0 20% 0;
    height: auto;
    background-color: black;
    .carousel-inner div img {
        width:500px;
        padding:30% 0;
    }
}
// img {
//     width: 500px;
// }